@model LiquidWorld.Data.Models.Drink   

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                @*<a asp-controller="Drink" asp-action="Details" asp-route-id="@Model.DrinkId">@Model.Name</a>*@
                @Html.ActionLink(@Model.Name, "Details", "Admin", new {@id = Model.DrinkId }, null)
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div >
            <a class="btn btn-warning" asp-controller="Order" onclick="location.href = '@Url.Action("Edit", "Admin", new { id = Model.DrinkId })'">Edit</a>
            <a class="btn btn-danger" asp-controller="Order" onclick="location.href = '@Url.Action("Delete", "Admin", new { id = Model.DrinkId })'">Delete</a>
        </div>
    </div>
</div>